
<div class="container">
 <h2>Search Events by Neighborhood</h2>
<!-- <div class="col-xs-6" ng-controller="myController"> -->
	<!-- <form ng-submit="searchHood(hood)" class="well">
		<div class="form-group">
			<label for="event-hood">Select Nieghborhood:</label>
			<select ng-change="searchHood()" class="form-control" id="event-hood" ng-model="searchForm.hood">
				<option>Downtown</option>
				<option>Cork Town</option>
				<option>Mid Town</option>
				<option>West Village</option>
			</select>
		</div>
	</form> -->
<div  class="col-xs-6" ng-controller="mapController">
	<div id="flyerRow" class="row">

    <div class="item" ng-repeat="event in events" >
				<a href="#">
      <div class="well">
				<h2>{{event.eventname}}</h2>
				<h4>{{event.username}}</h4><br />
				<h4>{{event.date}}</h4>
				<p>{{event.description}}</p>
				<p><small class="text-muted">Event added on {{event.timeadded | date:"MM/dd 'at' h:mma"}}</small></p>
			  </div>
					</a>
    </div>
  </div>
</div>



	<div class="col-xs-6">
		<div ng-controller="mapController" id="map"></div>
	</div>
</div>
