<div class="cover-container">
    <div class="inner cover">
        <h1 class="cover-heading"><span id="head">HYPE</span>nings</h1>
        <p class="subhead">See what's popping in Detroit <span id="head">or get something popping!</span></p>
        <p class="buttons">
          <a href="#!/view2" class="btn btn-lg btn-default">FIND</a>
          <a href="#!/view3" class="btn btn-lg btn-default">POST</a>
        </p>
    </div>
</div>

<div class="feauturette-container" ng-controller="homeController">

    <!-- First Featurette -->

    <!-- <hr class="featurette-divider"> -->

    <div class="featurette" id="feat1">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
        <h2 class="featurette-heading">{{homeEvents1.eventname}}
            <span class="text-muted">{{homeEvents1.date}}</span>
        </h2>
        <p class="lead">{{homeEvents1.description}}</p>
    </div>

    <!-- <hr class="featurette-divider"> -->

    <!-- Second Featurette -->
    <div class="featurette" id="feat2">
        <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
        <h2 class="featurette-heading">{{homeEvents2.eventname}}
            <span class="text-muted">{{homeEvents2.date}}</span>
        

        </h2>
        <p class="lead">{{homeEvents2.description}}</p>
    </div>

    <!-- <hr class="featurette-divider"> -->

    <!-- Third Featurette -->
    <div class="featurette" id="feat3">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
        <h2 class="featurette-heading">{{homeEvents3.eventname}}
            <span class="text-muted">{{homeEvents3.date}}</span>
        </h2>
        <p class="lead">{{homeEvents3.description}}</p>
    </div>
</div>
