<div class="cover-container">
    <div class="inner cover">
        <h1 class="cover-heading"><span id="head">HYPE</span>nings</h1>
        <p class="subhead">See what's popping in Detroit <span id="head">or get something popping!</span></p>
        <p class="buttons">
          <a href="#!/view2" class="btn btn-lg btn-default">FIND</a>
          <a href="#!/view3" class="btn btn-lg btn-default">POST</a>
        </p>
        <p class="sign-up-button">
          <a href="#!/register" class="btn btn-lg btn-default">Sign Up</a>
        </p>
    </div>
</div>

<div class="shape">
    <div class="top"></div>
    <div class="bottom"></div>
</div>

<!-- Most recent row -->
<div class="row">
    <div class="col-xs-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x400" alt="">
        </a>
    </div>
    <div class="col-xs-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x400" alt="">
        </a>
    </div>
    <div class="col-xs-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x400" alt="">
        </a>
    </div>
</div>
<!-- /.row -->

<!-- featurette container -->
<div class="feauturette-container">

    <!-- First Featurette -->

    <!-- <hr class="featurette-divider"> -->

    <div class="featurette" id="feat1">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
        <h2 class="featurette-heading">TEXT
            <span class="text-muted">TEXT</span>
        </h2>
        <p class="lead">TEXT</p>
    </div>

    <!-- <hr class="featurette-divider"> -->

    <!-- Second Featurette -->
    <div class="featurette" id="feat2">
        <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
        <h2 class="featurette-heading">TEXT
            <span class="text-muted">TEXT</span>


        </h2>
        <p class="lead">TEXT</p>
    </div>

    <!-- <hr class="featurette-divider"> -->

    <!-- Third Featurette -->
    <div class="featurette" id="feat3">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
        <h2 class="featurette-heading">TEXT
            <span class="text-muted">TEXT</span>
        </h2>
        <p class="lead">TEXT</p>
    </div>
</div>
