<div ng-controller="homeController">

<div class="cover-container">
    <div class="inner cover">
        <img src="img/logobig.png" class="img-responsive">
        <p class="subhead">See what's popping in Detroit <span id="head">or get something popping!</span></p>
        <p class="buttons">
          <a href="#!/viewmap" class="btn btn-lg btn-default">FIND</a>
          <a href="#!/addevent" class="btn btn-lg btn-default">POST</a>
      </p>
    </div>
</div>

<div class="latest">
    <p>Latest HYPEnings</p>
</div>

<!-- Most recent row -->
<div class="row-fluid">
    <div ng-click="goToEvent(recentEvents[0].id)" class="col-xs-4 latest-item" style="background-color: #D3D3D3; background-color: {{recentEvents[0].hood}};">
        <h2>{{recentEvents[0].eventname}}</h2>
        <h4>{{recentEvents[0].username}}</h4><br />
        <img class="preview-icon" src="img/{{recentEvents[0].pic}}.png">
        <h4>{{recentEvents[0].date | date:'MM-dd-yyyy'}}</h4>
        <p>{{recentEvents[0].description}}</p>
    </div>
   <div ng-click="goToEvent(recentEvents[1].id)" class="col-xs-4 latest-item" style="background-color: #D3D3D3; background-color: {{recentEvents[1].hood}};">
        <h2>{{recentEvents[1].eventname}}</h2>
        <h4>{{recentEvents[1].username}}</h4><br />
        <img class="preview-icon" src="img/{{recentEvents[1].pic}}.png">
        <h4>{{recentEvents[1].date | date:'MM-dd-yyyy'}}</h4>
        <p>{{recentEvents[1].description}}</p>
    </div>
    <div ng-click="goToEvent(recentEvents[2].id)" class="col-xs-4 latest-item" style="background-color: #D3D3D3; background-color: {{recentEvents[2].hood}};">
        <h2>{{recentEvents[2].eventname}}</h2>
        <h4>{{recentEvents[2].username}}</h4><br />
        <img class="preview-icon" src="img/{{recentEvents[2].pic}}.png">
        <h4>{{recentEvents[2].date | date:'MM-dd-yyyy'}}</h4>
        <p>{{recentEvents[2].description}}</p>
    </div>
</div>
<!-- /.row -->

<!-- featurette container -->
<div class="feauturette-container">

    <!-- First Featurette -->

    <!-- <hr class="featurette-divider"> -->

    <div class="featurette" id="feat1">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/binoculars-1.png">
        <div class="featurette-text">
          <h2 class="featurette-heading">FIND
              <span class="text-muted">AND BE FOUND</span>
          </h2><br>
          <p class="lead">HYPEnings allows users to create digital flyers to a one mile radius
            of wherever they're posted. Other users can then find these flyers with the app
            upon entering its radius.</p>
        </div>
    </div>

    <!-- <hr class="featurette-divider"> -->

    <!-- Second Featurette -->
    <div class="featurette" id="feat2">
        <img class="featurette-image img-circle img-responsive pull-left" src="img/cityscape.png">
        <div class="featurette-text2">
          <h2 class="featurette-heading">EXPLORE
              <span class="text-muted">YOUR CITY</span>
          </h2><br>
          <p class="lead">This symbiotic app encourages both local vendors to digitally promote
            fleeting deals wherever they want and users to find them by exploring their
            surroundings. But you gotta move! Flyers disappear 48 hours after posting.</p>
        </div>
    </div>

    <!-- <hr class="featurette-divider"> -->

    <!-- Third Featurette -->
    <div class="featurette" id="feat3">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/map.png">
        <div class="featurette-text">
          <h2 class="featurette-heading">SO...<br>
              <span class="text-muted">GET OUT THERE!</span>
          </h2><br>
          <p class="lead">Whether you're a restaurant promoting a limited time menu, a retail store
            pushing a BOGO sale, or a local artist advertising an upcoming show, HYPEnings is the perfect
            bridge between your message and curious travelers.</p>
        </div>
    </div>
</div>
</div>
