
<div id="map-flyer-container" class="container" ng-controller="mapController">
	<div class="row">
		<!-- MAP COLUMN   MAP COLUMN   MAP COLUMN   MAP COLUMN -->
				 <div  class="col-xs-12 col-md-6 mapHolder" >
						<h2>Events near you</h2>
					 <div id="map"></div>
				 </div>


<!-- FLYER COLUMN FLYER COLUMN FLYER COLUMN -->


		<div ng-controller="mapController">


	      <div id="flyerRow" class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">

			    <div class="item" ng-repeat="event in events" >


			      <div class="flyer-well" ng-click="goToEvent(event.id)"  style="background-color: #D3D3D3; background-color: {{event.hood}};">

								<h2>{{event.eventname}}</h2>
								<h4>{{event.username}}</h4><br />
								<img src="img/{{event.pic}}.png">
								<h4>{{event.date}}</h4>
								<p>{{event.description}}</p>
								<!-- <p><small class="text-muted">Event added on {{event.timeadded | date:"MM/dd 'at' h:mma"}}</small></p> -->
								<p><small class="text-muted">Expires on {{event.expTime}}</small></p>
						  </div>

			    </div>
				</div>

			</div>
		</div>
</div>
