<div class="container-fluid" >

  <!-- live preview -->

  <div class="row">


    <div id="formBox" ng-hide="submissionSuccess || !eventFound" style="float: none; margin: 0 auto;margin-top: 85px" class="col-xs-10 col-md-6">
      <h2>Manage Your Event</h2>
      <form ng-submit="manageEvent(userPostid)">
        <div class="form-group">
          <label for="event-user">Post ID</label>
          <input type="text" class="form-control" id="userPostid" required ng-model="userPostid">
        </div>

        <button type="submit" class="btn btn-lg btn-default">Manage Event</button>
      </form>
    </div>
    <div class="row">
      <!--not found  -->
      <div id="formBox" ng-show="!eventFound" style="float: none; margin: 0 auto;margin-top: 85px" class="col-xs-10 col-md-6">
        <h2 style="color: red">Event not found.</h2>
        <form ng-submit="manageEvent(userPostid)">
          <div class="form-group">
            <label for="event-user">Please enter post a valid post ID</label>
            <input type="text" class="form-control" id="userPostid" required ng-model="userPostid">
          </div>

          <button type="submit" class="btn btn-lg btn-default">Manage Event</button>
        </form>
      </div>
      <!--delete confirm  -->
      <div ng-show="submissionSuccess">
        <div id="formBox" style="float: none; margin: 0 auto;margin-top: 85px" class="col-xs-10 col-md-6">
          <h2>Delete your event?</h2>
          <form ng-submit="deleteEvent(userPostid)">
            <div class="form-group"></div>
            <button type="submit" ng-click="deleteEvent()" class="btn btn-lg btn-default">Delete Event</button>
          </form>
        </div>
      </div>
    </div>
  </div>
