<div class="container-fluid" ng-controller="myController">

  <div class="row">


    <div id="formBox" class="col-xs-5">
      <h2>Add Event</h2>
      <my-flyer></my-flyer>



      <form ng-submit="addEvent(formItem)">
        <div class="form-group">
          <label for="event-user">Name</label>
          <input type="text" class="form-control" id="event-user" required ng-model="formItem.user">
        </div>
        <div class="form-group">
          <label for="event-name">Event Name</label>
          <input type="text" class="form-control" id="event-name" required ng-model="formItem.eventName">
        </div>
        <div class="form-group">
          <label for="event-date">Date</label>
          <input type="date"
          ng-model="formItem.date"
          id="event-date"

          [name="string"]
          [min="string"]
          [max="string"]
          [ng-min=""]
          [ng-max=""]
          [required="string"]
          [ng-required="string"]
          [ng-change="string"]>
        </div>
        <div class="form-group">
          <label for="event-duration">Post Duration</label>
          <input type='number' min='1' max= '48' step='1' class="form-control" id="event-date" required ng-model="formItem.postDuration">
        </div>
        <div class="form-group">
          <label for="event-description">Description</label>
          <textarea rows="5" type="in" class="form-control" id="event-description" required ng-model="formItem.description">
          </textarea>
        </div>
        <div class="form-group">
          <label for="event-hood">Select Background Color:</label>
          <select class="form-control" id="event-hood" ng-model="formItem.hood">
            <option value="#556270">Slate</option>
            <option value="#4ECDC4">Teal Blue</option>
            <option value="#C7F464">Apple</option>
            <option value="#FF6B6B">Pink</option>
            <option value="#C44D58">Red</option>
            <option value="#00A8C6">Blue</option>
          </select>
        </div>
        <div class="form-group">
          <label for="event-pic">Select Icon:</label>
          <select  class="form-control" id="event-pic" ng-model="formItem.pic" required>
            <option value="" selected disabled>Please select</option>
            <option value="apple" >Apple</option>
            <option value="barbecue" >Barbecue</option>
            <option value="bicycle" >Bicycle</option>
            <option value="birthday" >Birthday</option>
            <option value="cat" >Cat</option>
            <option value="confetti" >Confetti</option>
            <option value="cosmetics" >Cosmetics</option>
            <option value="cutlery" >Cutlery</option>
            <option value="dog" >Dog</option>
            <option value="doughnut" >Doughnut</option>
            <option value="flower" >Flower</option>
            <option value="foodstand" >Foodstand</option>
            <option value="foodtruck" >Foodtruck</option>
            <option value="groceries" >Groceries</option>
            <option value="hamburger" >Hamburger</option>
            <option value="hanger" >Hanger</option>
            <option value="hotdrink" >Hotdrink</option>
            <option value="leaf" >Leaf</option>
            <option value="music1" >Music1</option>
            <option value="music2" >Music2</option>
            <option value="paperplane">Paperplane</option>
            <option value="pricetag" >Pricetag</option>
            <option value="sale" >Sale</option>
            <option value="shoe" >Shoe</option>
            <option value="stage" >Stage</option>
            <option value="star" >Star</option>
            <option value="store" >Store</option>
            <option value="sunbathe" >Sunbathe</option>
            <option value="tech" >Tech</option>
          </select>
        </div>
        <button type="submit" href="#!/submit" class="btn btn-lg btn-default">Add Event</button>
      </form>
    </div>


          <div  class="col-xs-4">
              <div id="live-preview" style="background-color: {{formItem.hood}};"
                    ng-show="formItem.user || formItem.eventName || formItem.date || formItem.description ||formItem.pic">
                <flyer></flyer>
                </div>


            <div ng-show="submissionSuccess">It worked! your post ID is <b>{{postIDShow}}</b></div>
          </div>
    </div>
</div>

<a href="mailto:username@example.com?subject=Hypenings%20Event%20Information&body=Your%20post%20ID%20is%20{{postIDShow}}.%20don't%20loose%20it!">mail</a>

<!-- <div class="row">
      <div class="col-xs-5" class="container" ng-controller="myController">
          <h2>Add Event</h2>

          <form ng-submit="addEvent(formItem)" class="well event">
              <div class="form-group">
                  <label for="event-user">User Name</label>
                  <input type="text" class="form-control" id="event-user" required ng-model="formItem.user">
              </div>
              <div class="form-group">
                  <label for="event-name">Event Name</label>
                  <input type="text" class="form-control" id="event-name" required ng-model="formItem.eventName">
              </div>
              <div class="form-group">
                  <label for="event-date">Date</label>
                  <input type="text" class="form-control" id="event-date" required ng-model="formItem.date">
              </div>
              <div class="form-group">
                  <label for="event-description">Description</label>
                  <textarea rows="5" type="in" class="form-control" id="event-description" required ng-model="formItem.description">
                  </textarea>
              </div>
              <div class="form-group">
                  <label for="event-hood">Select Nieghborhood:</label>
                  <select class="form-control" id="event-hood" ng-model="formItem.hood">
                      <option>Downtown</option>
                      <option>Cork Town</option>
                      <option>Mid Town</option>
                      <option>West Village</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="event-pic">Select backgound picture for event flyer:</label>
                  <select class="form-control" id="event-pic" ng-model="formItem.pic">
                      <option>Blue</option>
                      <option>Flyer1</option>
                      <option>Green</option>
                      <option>Purple</option>
                  </select>
              </div>
              <button type="submit" class="btn btn-lg btn-default">Add Event</button>
          </form>
      </div>
    </div> -->
