#map {
  /*float: right;
  margin-right: 10px;*/
  height: 50vh;
  width: 45vw;
}

#head {
  color: #05386B;
}

textarea {
  resize: none;
}

.well {
  background-image: -webkit-linear-gradient(top,#05386B 0,#05386B 100%);
  border: none;
}

.event {
  margin: 40px;
}

/* Links */
a,
a:focus,
a:hover {
  color: #EDF5E1;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:focus,
a:hover {
  opacity: .7;
  text-decoration: none;
}

/*
 * Base structure
 */

html {
  position: relative;
  min-height: 100%;
}

body {
<<<<<<< HEAD
  background-color: #5CDB95;
  margin: 0 0 190px;
  /*background-image: url('../happenings/main-page/img/detroit1.JPG');
=======
  height: 100%;
>>>>>>> 0ed5e6a419be284904e730b1d01a5950df0c1360
  background-image: url('img/detroit1.JPG');
  background-image: image-url('img/detroit1.JPG');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;*/
  font-family: Roboto, sans-serif;
  color: #EDF5E1;
  text-align: center;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.cover-heading {
  padding-bottom: 20px;
  padding-top: 60px;
}

/*
 * Header
 */

.masthead-nav > li,
.masthead-brand > li {
  display: inline-block;
}
.masthead-nav > li + li,
.masthead-brand > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a,
.masthead-brand > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 28px;
  font-weight: bold;
  color: #EDF5E1;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-brand > li > a:hover,
.masthead-brand > li > a:focus {
  background-color: transparent;
  color: #05386B;
}

/*flyer styles*/
#flyerRow{
  display: inline-block;
}

.thumbnail{
  /*display: inline-block;*/
  text-shadow: none;
  font-family: Helvetica, Sans-Serif;
}

.thumbnail, h2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*#flyerBlock{

}

.flyer {
   position: relative;
   width: 100%; /* for IE 6 */
/*}

h3 {
   position: absolute;
   top: 10%;
   left: 0;
   width: 100%;
   text-align: left;
}

h3 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   /*background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}*/
/* end of flyer stlying*/

.masthead a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 15px 50px;
  font-weight: bold;
}

.cover-heading {
  display: inline-block;
  font-family: 'Audiowide', cursive;
  font-size: 70px;
  transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

/*
 * Footer
 */

 footer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 190px;
   background-image: url('img/detroit.png');
   background-repeat: no-repeat;
   background-size: cover;

   /*color: #999;
   color: rgba(255,255,255,.5);*/
 }
