#mapHolder{
  width: 100%;
  margin: auto;
  /*position: fixed;
  z-index: 5;*/
}

/*.ng-scope div {
  width: 100%;
}*/

.ng-scope .row {
  margin: 0;
}

#map {
  /*float: right;
  margin-right: 10px;*/
  height: 50vh;
  width: 100%;
  margin: auto;
}

.markerInfo{
  color: black;
}

.markerIcons{
  height: 50px;
  width: auto;
}

.img-responsive {
  margin: 0 auto;
}

#head {
  color: #05386B;
}

textarea {
  resize: none;
}

.well {
  border: none;
}

.event {
  margin: 40px;
}

.subhead {
  padding-top: 20px;
  font-size: 24px;
}

@media(max-width:668px) {
    .subhead {
        font-size: 18px;
    }
}

.buttons {
  padding-top: 40px;
  padding-bottom: 160px;
}

#feat1 {
  margin-top: 80px;
  background-image: url('img/feature1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#feat2 {
  background-image: url('img/feature2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#feat3 {
  background-image: url('img/feature3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.featurette-image {
  padding-top: 40px;
  padding-bottom: 40px;
}

.latest p {
  color: #EDF5E1;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .1em;
  background-color: #fd8469;
}

.featurette-text {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  width: 350px;
  padding: 20px;
  float: left;
}

.featurette-text2 {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  width: 350px;
  padding: 20px;
  float: right;
}

/*Featurette section CSS*/

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

@media(max-width:1200px) {

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    /*.feauturette-container {
        margin: 0 15px;
    }*/

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

/* Links */
a,
a:focus,
a:hover {
  color: #EDF5E1;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:focus,
a:hover {
  opacity: .7;
  text-decoration: none;
}

/*
 * Base structure
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  /*background-color: #5CDB95;*/
  width: 100%;
  margin: 0 0 190px;
  background-image: url('/img/bokeh3.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: #EDF5E1;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.cover-container {
  /*background-image: url('img/skyline1.png');*/
  background-repeat: no-repeat;
  background-position:left bottom;
  background-size: contain;
  bottom: 0;
  /*background-attachment: fixed;*/
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.cover-heading {
  padding-bottom: 60px;
  padding-top: 60px;
}

/*
 * Header
 */

 #logo {
   height: 60px;
   width: 60px;
 }

 #logo:active {
  position: relative;
  top: -4px;
 }

 #logo:active {
   text-decoration: none;
 }

.masthead-nav > li,
.masthead-brand > li {
  display: inline-block;
}
.masthead-nav > li + li,
.masthead-brand > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a,
.masthead-brand > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 28px;
  font-weight: bold;
  color: #EDF5E1;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-brand > li > a:hover,
.masthead-brand > li > a:focus {
  background-color: transparent;
  color: #05386B;
}

/* 'Add Event' Form Box Style*/
#formBox {
  margin-left: 15%;
}

#formBox, #successBox {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

#formBox, label {
  color: black;
}

#formBox .form-group{
  margin-bottom: 8px;
}

#formBox button {
  margin-bottom: 15px;

}

.preview-icon {
  height: 100px;
  width: auto;
}

/* LIVE PREVIEW of the the flyer from the 'Add Event' form page*/
#live-preview {
  width: 300px;
  height: auto;
  border-radius: 5px;
  overflow-wrap: break-word;
  padding: 5px;
  margin: 5px;
}


#live-Preview-Delete-View{
  margin: auto;
  width: 30vw;
  height: 50vh;
}

#live-Preview-Delete-View.#live-preview{
  width: 30vw;
  height: 50vh;
}

/*MAP STYLING*/
#mapHolder{
  /*width: 100%;
  margin: auto;*/
  /*position: relative;*/
  /*z-index: 5;*/
  position: fixed;

  width: 45%;
  overflow-y: scroll;
  height: 100%;
}

#map {
  /*float: right;
  margin-right: 10px;*/
  height: 50vh;
  width: 100%;
  margin: auto;


}

/*flyer styles*/
/*.flyer-container {
  margin-top: 375px;
  overflow: auto;
}*/
#map-flyer-container {
  overflow: hidden;
  height:100%;
  margin: 0;
  padding: 0;
}


/*.flyer-col{
  height:100%;

  overflow-y: scroll;
  width: 25%;
}*/
#flyer-right {
  height: 100%;


   overflow-y: scroll;

}

#flyerRow img {
  height: 100px;
  width: auto;
}

#flyerRow {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;
 box-sizing:  border-box;
 width: 50%;
 float: right;
}

.item {
 display: inline-block;
 padding: .25rem;
 width: 100%;
 box-sizing:  border-box;
}

.flyer-well {
  position:relative;
  display: block;
  border-radius: 5px;
  overflow-wrap: break-word;
  padding: 5px;
  margin: 5px;
}

#flyerRow .flyer-well, h2{
  /*display: inline-block;*/
  text-shadow: none;
  font-family: Helvetica, Sans-Serif;
}

#flyerRow .flyer-well, h2, h4, p{
  color: black;
}

/* Successfully submitted box styling except for the successBox ID*/

#successBox {
  padding: 20px;
  margin: 0 auto;
  float: none;
}

#successBox .panel-title {
  font-size: 20px;
}

#successBox .panel-title, .panel-body, .list-group-item {
  text-align: left;

}

#successBox .greencheck {
  display: inline-block;

}


.planeCircle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #fd8469;
}

#successBox .planeCircle, .p-plane {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
}

.panel-body, .list-group-item {
  padding-top: 10px;
}
.panel-msg {
  margin: 0;
}



/*.thumbnail, h2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/




/*#flyerBlock{

}

.flyer {
   position: relative;
   width: 100%; /* for IE 6 */
/*}

h3 {
   position: absolute;
   top: 10%;
   left: 0;
   width: 100%;
   text-align: left;
}

h3 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   /*background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}*/
/* end of flyer stlying*/


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 15px 50px;
  font-weight: bold;
}

.cover-heading {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

/*
 * Footer
 */

footer {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 190px;
 background-image: url('img/detroit.png');
 background-repeat: no-repeat;
 background-size: cover;
 color: #999;
 color: rgba(255,255,255,.5);
}

.copyright {
  margin-top: 120px;
  text-align: center;
}

.social ul {
  text-align: center;
}

.social a {
  display: inline;
  list-style: none;
  text-align: center;
  font-size: 20px;
}

/*
Nav bar
*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #05386B;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #fd8469;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#navButton {
  float: left;
  padding: 10px 0 0 10px;
}

/*
Old nav bar
*/

/*.masthead a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }

.masthead-nav {
  float: right;
}

.masthead-nav > li,
.masthead-brand > li {
  display: inline-block;
}
.masthead-nav > li + li,
.masthead-brand > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a,
.masthead-brand > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 28px;
  font-weight: bold;
  color: #EDF5E1;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-brand > li > a:hover,
.masthead-brand > li > a:focus {
  background-color: transparent;
  color: #05386B;
}
}*/
